body {
    
    color: aliceblue;
    font-size: 1.5rem;
  }

  .intro-container{
    background-image: url(./images/andrew-ridley-jR4Zf-riEjI-unsplash.jpeg);
    background-size: cover;
    height: 100vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }
  .nav-bar{
    padding: 0.5rem;
    background-color: rgba(50, 50, 50, 0.7);
    margin: 10px;
    height: 50px;
    position: relative;
    top: 10px;
    border-radius: 20px;
    
  
  }
  .nav-bar h2{
    display: inline;
  }
  .nav-bar a{
    float: right;
    margin: 10px 30px;
    text-decoration: none;
    color: aliceblue;
    margin-right: 30px;

  }
  .nav-bar a:hover{
    color: gray;
  }
  .intro-box{
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 10px;;
    background-color: rgba(50, 50, 50, 0.7);
    text-align: center;
    position: relative;
    width: 50%;
    height: 180px;
    top: 30%;
    bottom: 10%;
    border-radius: 30px;
    
  }

  .intro-box:hover{
    background-color: rgba(50, 50, 50, 0.8);
  }

  #about{
    padding-top: 10px;
    background-image: url(./images/black-gc2896b1c1_1920.jpeg);
    text-align: center;
  }
  #about img{
    width: 20rem;
    border-radius: 50%;
  }
  #about p{
    padding: 30px;
    margin: 10px auto 0;
    width: 35%;
    justify-content:left;

  }
  #contact{
    color: #000;
    text-align: center;
    background-size:cover;
    background-image: url(./images/mockaroon-YqUeLG7fMr4-unsplash.jpeg);
  }
  #contact h3{
    margin-top: 0px;
    padding: 10px;
  }

  #message{
    margin-top: 20px;
    padding-bottom: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
  }
  #submit{
    font-size: large;
    width: 20rem;
    padding: 10px;
    margin: 10px;;
  }
  #submit:hover{
    background-color:aqua;

  }
  

  footer img{
    width: 50px;
    margin:0 50px;
}

  footer{
    text-align: center;
    background-color: rgba(50, 50, 50, 0.7);
    
  }



  

 